@font-face {
	font-family: Brizeux-Normal;
	src: url("/lefou/src/fonts/brizeux_normal.ttf");
	font-display: swap;
}

body {
	font-family: Brizeux-Normal;
	scroll-behavior: smooth;
}

.marginTop {
    margin-top: 20px;
    padding-bottom: 20px;
}

.navbar, footer {
	background-color: #3EB489;
	color: white;
}
footer a {
	color: white;
}

#foot {
	position: fixed;
	height: auto;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}

.dropdown-item.colorMode {
	text-align: center;
}

#title {
	text-align: center;
	font-size: 600%;
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}

video, #plan {
	width: 100%;
}

#video {
	width: 100%;
	aspect-ratio: 16 / 9;
}

#gmaps {
	width: 100%;
	height: 20%;
}

.tooltip-button {
	position: absolute;
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon, [data-bs-theme=dark].carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(0) grayscale(100);
}
.carousel-item {
	text-align: center;
}
.carousel-image {
	width: 100%;
}
.carousel-caption {
	text-shadow: 7px 7px 10px gray;
}


.card {
	display: inline-block;
	margin-top: 5px;
}


.hoverImage:hover {
	transform: scale(1.2);
}
.about-image {
	width: 200px;
}
.about-image, ::after, ::before
    box-sizing: initial;
}
figure { 
    display: inline-block;
	margin: 15px;
}
figcaption {
	text-align: center;
}
@media only screen and (max-width: 524px) {
	#image-julian {
		text-align: center;
	}
	#image-leon {
		text-align: center;
	}
	#image-pascal {
		text-align: center;
	}
}
@media only screen and (max-width: 1399px) and (min-width: 525px) {
	#figure-leon {
		float: right;
	}
	#image-pascal {
		text-align: center;
	}
}
@media only screen and (min-width: 1400px) {
	#figure-julian {
		float: left;
	}
	#image-leon {
		text-align: center;
	}
	#figure-pascal {
		float: right;
	}
}

.collapse-faq, .collapse-sources {
	margin-top: 20px;
}
button.faq {
	margin: 5px;
}
#div-button-showSources {
	text-align: center;
}